@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme  {
  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-600);
  --shadow-input: 1px 3px 16px rgb(50 50 50 / 0.4);
}
body{
  cursor: none;
}
.shadow-me{
  box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, 0.5), /* left inset shadow */
            inset -5px 0 5px -5px rgba(0, 0, 0, 0.5); /* right inset shadow */

}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
    --shadow-input: 1px 3px 16px rgb(211, 211, 211/0.3);

}
